In [44]:
import pandas as pd
import numpy as np

In [45]:
operation_types = ['System Specification','Architectural Design','Functional Design',
                    'Physical Design','Verification and Signoff','Fabrication','Packaging and Testing']

In [46]:
users = pd.read_excel(r'dataset/user.xlsx')

In [47]:
import string
import random

In [48]:
'''CREATE TABLE package
(USER_ID   INT,
PACKAGE_ID  INT,
BUDGET  DEC(6,2),
CREATE_TIME DATETIME,
DEADLINE  DATETIME,
PRIMARY KEY(PACKAGE_ID),
FOREIGN KEY(USER_ID) REFERENCES user(USER_ID));'''

user_id = np.random.choice([i for i in range(300)]+[i for i in range(700,850)],size=500)
package_id = [i for i in range(500)]
budget = np.random.normal(2000,700,size=1000)
budget = [i for i in budget if i>200][:500]

In [53]:
import datetime
import time
 
end_time=datetime.datetime.now()
start_time=datetime.datetime.now() + datetime.timedelta(days=-365) # 当前时间减去3分钟
 
a1=tuple(start_time.timetuple()[0:9])    #设置开始日期时间元组（2020-04-11 16:30:21）
a2=tuple(end_time.timetuple()[0:9])   #设置结束日期时间元组（2020-04-11 16:33:21）
 
start=time.mktime(a1)    #生成开始时间戳
end=time.mktime(a2)      #生成结束时间戳

create_time = []
deadline = []
#随机生成日期字符串
for i in range(len(user_id)):
    t=random.randint(start,end)    #在开始和结束时间戳中随机取出一个
    date_touple=time.localtime(t)          #将时间戳生成时间元组
    date=time.strftime("%Y-%m-%d %H:%M:%S",date_touple)   #将时间元组转成格式化字符串（2020-04-11 16:33:21）
    date = datetime.datetime.strptime(date,"%Y-%m-%d %H:%M:%S")
    create_time.append(date)

    duration = random.randint(10,20)
    ddl = date + datetime.timedelta(days=duration)
    # ddl = datetime.datetime.strptime(date,"%Y-%m-%d %H:%M:%S") + datetime.timedelta(days=duration)
    # ddl = time.strftime("%Y-%m-%d %H:%M:%S",ddl)
    deadline.append(ddl)

In [54]:
package = pd.DataFrame(data={'user_id':user_id,'package_id':package_id,
            'budget':budget,'create_time':create_time,'deadline':deadline})
package.to_excel('dataset/package.xlsx',index=False)

In [55]:
'''CREATE TABLE chip_type
(CHIP_NAME  VARCHAR(20),
CHIP_VERSION  VARCHAR(20),
PRIMARY KEY(CHIP_NAME,CHIP_VERSION));
'''
number_of_strings = 25
length_of_string = 5
chip_name=[]
for x in range(number_of_strings):
  name=''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for _ in range(length_of_string))
  chip_name.append(name)
chip_name += chip_name[:10]
chip_name += chip_name[:5]
versions = [1]*25+[2]*10+[3]*5
chip_type = pd.DataFrame(data={'chip_name':chip_name, 'chip_version':versions})
chip_type = chip_type.sort_values(by=['chip_name','chip_version'],ignore_index=True)
chip_type.to_excel('dataset/chip_type.xlsx',index=False)

In [56]:
'''CREATE TABLE chip
(CHIP_NAME  VARCHAR(20),
CHIP_VERSION  VARCHAR(20),
PACKAGE_ID  INT,
CHIP_ID  INT,
FOREIGN KEY(CHIP_NAME,CHIP_VERSION) REFERENCES chip_type(CHIP_NAME,CHIP_VERSION),
FOREIGN KEY(PACKAGE_ID) REFERENCES package(PACKAGE_ID));'''
package_id = np.random.choice([i for i in range(150)]+[i for i in range(150,500)],
                                size=800,p=[0.5/150]*150+[0.5/350]*350)
chip = chip_type.sample(n=800, random_state=0,replace=True)
chip_id = [i for i in range(800)]
chip['package_id'],chip['chip_id']=package_id,chip_id
chip.reset_index(inplace=True,drop=True)
chip.to_excel('dataset/chip.xlsx',index=False)

In [65]:
'''CREATE TABLE state
(PACKAGE_ID  INT,
START_TIME DATETIME,
END_TIME DATETIME,
NAME VARCHAR(20),
FOREIGN KEY(PACKAGE_ID) REFERENCES package(PACKAGE_ID));'''

start_time1, end_time1 = [], []
for i in range(len(package)):
    ct =  create_time[i]
    lag = random.randint(1,8)
    st = ct + datetime.timedelta(hours=lag)
    start_time1.append(st)

    ddl = deadline[i]
    lag2 = random.randint(-100,4)
    et = ddl + datetime.timedelta(hours=lag2)
    end_time1.append(et)
state = pd.DataFrame(data={'package_id':package['package_id'],'start_time':start_time1,'end_time':end_time1})
state

     package_id          start_time            end_time
0             0 2022-12-03 09:53:19 2022-12-13 20:53:19
1             1 2022-02-13 05:06:05 2022-02-22 11:06:05
2             2 2022-08-28 04:10:38 2022-09-08 14:10:38
3             3 2022-11-20 06:00:40 2022-12-05 08:00:40
4             4 2022-05-17 04:05:42 2022-05-28 03:05:42
..          ...                 ...                 ...
495         495 2022-05-25 14:29:49 2022-06-04 11:29:49
496         496 2022-02-24 17:39:42 2022-03-08 06:39:42
497         497 2022-12-07 12:46:34 2022-12-23 00:46:34
498         498 2022-10-16 03:30:07 2022-11-02 18:30:07
499         499 2022-09-16 05:46:29 2022-09-26 22:46:29

[500 rows x 3 columns]